html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eeeeee;
}

a{
    text-decoration: none;
}

h1:after{
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
  }

form {
    background-color: white;
    max-width: 500px;
    width: 30%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px;
    border-radius: 1%;
}

.link{
    background-color: #e1eaeb;
    color: #7f7c7c;
    max-width: 500px;
    width: 91%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 104%;
    transform: translate(-50%, -50%);
    border: 1px;
    border-radius: 1%;
    text-align: right;
}

button {
    height: 30px;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    color: #3d9db3;
    border: 1px;
    border-radius: 3%;
    border-color: #d6df81;
}

form h1 {
    text-align: center;
    color: #01636f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input[type=text],
form input[type=password]{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
}

form input[type=submit]{
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: #3d9db3;
    color: white;
    border: 0;
    border-radius: 5px;
    transition: 1s;
}

form input[type=submit]:hover{
    background-color: #338699;
}

form label {
    color: #869296;
    padding: 3px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}