.box-top{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box1, .box2, .box3, .box4 {
    width: 150px;
    height: 150px;
}

.box1 {
    background-color: red;   
    position: relative;  
}

.box2 {
    background-color: yellow;
    position: relative;
}

.box3 {
    background-color: green;
    position: relative;
}
.box4{
    background-color: purple;
    position: relative;
}
